name: Docker Release

run-name: Docker Release ${{ github.ref_name }} by @${{ github.actor }}

on:
  push:
    tags:
      - '[0-9]+.[0-9]+.[0-9]+*'

jobs:

  init:

    runs-on: ubuntu-20.04

    outputs:
      version-patch: ${{ steps.prep.outputs.version-patch }}
      version-minor: ${{ steps.prep.outputs.version-minor }}
      version-major: ${{ steps.prep.outputs.version-major }}
      build-date: ${{ steps.prep.outputs.build-date }}
      docker-image-name: ${{ steps.prep.outputs.docker-image-name }}
      docker-image-tags: ${{ steps.meta.outputs.tags }}
      docker-image-labels: ${{ steps.meta.outputs.labels }}
      github-ci-run-id: ${{ steps.prep.outputs.github-ci-run-id }}
      github-ci-sha-short: ${{ steps.prep.outputs.github-ci-sha-short }}
      github-ci-sha: ${{ steps.prep.outputs.github-ci-sha }}
      aws-cli-version: ${{ steps.prep.outputs.aws-cli-version }}

    steps:
      - uses: actions/checkout@v3

      - name: Fill GitHub Environment Variables
        uses: FranzDiebold/github-env-vars-action@v2

      - name: Fill PHP Version Environment Variable
        uses: c-py/action-dotenv-to-setenv@v4
        with:
          env-file: .build.env

      - name: Prepare Workflow Environment
        id: prep
        run: |
          VERSION_MAJOR_MINOR_PATCH=${GITHUB_REF_NAME}
          VERSION_MAJOR_MINOR=${VERSION_MAJOR_MINOR_PATCH%.*}
          VERSION_MAJOR=${VERSION_MAJOR_MINOR%.*}
          echo "docker-image-name=${DOCKER_IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "version-patch=${VERSION_MAJOR_MINOR_PATCH}" >> $GITHUB_OUTPUT
          echo "version-minor=${VERSION_MAJOR_MINOR}" >> $GITHUB_OUTPUT
          echo "version-major=${VERSION_MAJOR}" >> $GITHUB_OUTPUT
          echo "build-date=$(date -u +'%Y-%m-%dT%H:%M:%SZ')" >> $GITHUB_OUTPUT
          echo "github-ci-sha-short=${CI_SHA_SHORT}" >> $GITHUB_OUTPUT
          echo "github-ci-sha=${CI_SHA}" >> $GITHUB_OUTPUT
          echo "github-ci-run-id=${CI_RUN_ID}" >> $GITHUB_OUTPUT
          echo "aws-cli-version=${AWS_CLI_VERSION}" >> $GITHUB_OUTPUT

      - name: Fill Docker Image metadata
        id: meta
        uses: docker/metadata-action@v4
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          images: "${{ steps.prep.outputs.docker-image-name }}"
          tags: |
            type=raw,value=${{ steps.prep.outputs.github-ci-sha-short }}
            type=raw,value=${{ steps.prep.outputs.version-patch }}
            type=raw,value=${{ steps.prep.outputs.version-minor }}
            type=raw,value=${{ steps.prep.outputs.version-major }}
            type=raw,value=latest

  build:

    runs-on: ubuntu-20.04
    needs: init
    steps:
      - uses: actions/checkout@v3

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v2

      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-buildx-

      - name: Build Docker Image
        id: build
        uses: docker/build-push-action@v3
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: Dockerfile
          build-args: |
            VERSION_ARG=${{ needs.init.outputs.version-patch }}
            RELEASE_ARG=${{ needs.init.outputs.github-ci-run-id }}
            VCS_REF_ARG=${{ needs.init.outputs.github-ci-sha }}
            BUILD_DATE_ARG=${{ needs.init.outputs.build-date }}
          tags: ${{ needs.init.outputs.docker-image-tags }}
          labels: ${{ needs.init.outputs.docker-image-labels }}
          outputs: type=docker,dest=/tmp/builded.tar

      - name: Squash Docker Image
        id: squash
        run: |
          pip install docker-squash
          cat /tmp/builded.tar | docker load
          docker-squash --verbose --message "Build and Squashed in GitHub Action" \
            --tag ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }} \
            --output-path /tmp/squashed.tar \
            --cleanup \
            ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}
          cat /tmp/squashed.tar | docker load         
          tags=$(echo "${{ needs.init.outputs.docker-image-tags }}" | tr "\n" " ")
          for tag in $tags; do
            docker tag ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }} $tag
          done
          docker save --output /tmp/myimage.tar $tags

      - name: Check Docker Image
        run: |
          docker image inspect ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}
          docker history ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}

      - name: Upload artifact
        uses: actions/upload-artifact@v3
        with:
          name: myimage
          path: /tmp/myimage.tar

  tests:

    runs-on: ubuntu-20.04
    needs: [init,build]
    steps:
      - uses: actions/checkout@v3

      - uses: actions/checkout@v3
        with:
          repository: ems-project/elasticms-demo
          path: test/demo

      - name: Prepare Elasticms Demo Project
        id: prep_demo
        run: |
          mkdir -p test/demo/dist
          npm install --save-dev webpack --prefix test/demo test/demo
          npm run --prefix test/demo prod
          chmod 777 test/demo/skeleton

      - name: Setup BATS testing framework
        uses: mig4/setup-bats@v1
        with:
          bats-version: 1.2.1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: myimage
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/myimage.tar
          docker image ls -a

      - name: Scan image
        uses: anchore/scan-action@v3
        id: scan
        with:
          image: ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}
          fail-build: false
          severity-cutoff: critical
          output-format: table

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Test Docker Image
        env:
          DOCKER_IMAGE_NAME: ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}
        run: |
          docker network create docker_default
          docker pull appropriate/curl:latest
          bats -r test/tests.bats

  sign:

    runs-on: ubuntu-20.04
    needs:  [init,tests]

    steps:

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: myimage
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/myimage.tar
          docker image ls -a

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Sign and push docker image "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}"
        uses: sudo-bot/action-docker-sign@latest
        with:
          image-ref: "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}"
          private-key-id: "${{ secrets.DOCKER_PRIVATE_KEY_ID }}"
          private-key: ${{ secrets.DOCKER_PRIVATE_KEY }}
          private-key-passphrase: ${{ secrets.DOCKER_PRIVATE_KEY_PASSPHRASE }}

      - name: Sign and push docker image "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }}"
        uses: sudo-bot/action-docker-sign@latest
        with:
          image-ref: "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }}"
          private-key-id: "${{ secrets.DOCKER_PRIVATE_KEY_ID }}"
          private-key: ${{ secrets.DOCKER_PRIVATE_KEY }}
          private-key-passphrase: ${{ secrets.DOCKER_PRIVATE_KEY_PASSPHRASE }}

      - name: Sign and push docker image "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-minor }}"
        uses: sudo-bot/action-docker-sign@latest
        with:
          image-ref: "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-minor }}"
          private-key-id: "${{ secrets.DOCKER_PRIVATE_KEY_ID }}"
          private-key: ${{ secrets.DOCKER_PRIVATE_KEY }}
          private-key-passphrase: ${{ secrets.DOCKER_PRIVATE_KEY_PASSPHRASE }}

      - name: Sign and push docker image "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-major }}"
        uses: sudo-bot/action-docker-sign@latest
        with:
          image-ref: "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-major }}"
          private-key-id: "${{ secrets.DOCKER_PRIVATE_KEY_ID }}"
          private-key: ${{ secrets.DOCKER_PRIVATE_KEY }}
          private-key-passphrase: ${{ secrets.DOCKER_PRIVATE_KEY_PASSPHRASE }}

      - name: Sign and push docker image "${{ needs.init.outputs.docker-image-name }}:latest"
        uses: sudo-bot/action-docker-sign@latest
        with:
          image-ref: "${{ needs.init.outputs.docker-image-name }}:latest"
          private-key-id: "${{ secrets.DOCKER_PRIVATE_KEY_ID }}"
          private-key: ${{ secrets.DOCKER_PRIVATE_KEY }}
          private-key-passphrase: ${{ secrets.DOCKER_PRIVATE_KEY_PASSPHRASE }}

      - name: Check Docker Images pull's
        run: |
          docker pull ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.github-ci-sha-short }}
          docker pull ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }}
          docker pull ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-minor }}
          docker pull ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-major }}
          docker pull ${{ needs.init.outputs.docker-image-name }}:latest

  cosign:

    runs-on: ubuntu-20.04
    needs: [init,sign]

    steps:

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Download artifact
        uses: actions/download-artifact@v3
        with:
          name: myimage
          path: /tmp

      - name: Load Docker image
        run: |
          docker load --input /tmp/myimage.tar
          docker image ls -a

      - name: Setup Go
        id: go
        uses: actions/setup-go@v3
        with:
          go-version: '^1.12'

      - name: Setup Notary
        id: notary
        run: |
          export GO111MODULE=on
          go install -tags pkcs11 github.com/theupdateframework/notary/cmd/notary@latest
          notary --help

      - name: Setup Cosign
        id: cosign
        uses: sigstore/cosign-installer@main

      - name: Setup Syft
        id: syft
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/syft/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Setup Grype
        id: grype
        run: |
          curl -sSfL https://raw.githubusercontent.com/anchore/grype/main/install.sh | sh -s -- -b /usr/local/bin

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          registry: docker.io
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Create manifest
        run: |
          DOCKER_CLI_EXPERIMENTAL=enabled docker manifest create \
              ${{ needs.init.outputs.docker-image-name }}:latest \
              ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }} \
              ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-minor }} \
              ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-major }} \
              --amend

#        - name: Sign and push the manifest "${{ needs.init.outputs.imagename }}:${{ needs.init.outputs.version_major_minor_patch }}"
#          uses: sudo-bot/action-docker-sign@latest
#          with:
#            image-ref: "${{ needs.init.outputs.imagename }}:${{ needs.init.outputs.version_major_minor_patch }}"
#            private-key-id: "${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_ID }}"
#            private-key: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY }}
#            private-key-passphrase: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_PASSPHRASE }}
#            sign-manifest: true
#            notary-auth: "${{ secrets.DOCKERHUB_USERNAME }}:${{ secrets.DOCKERHUB_PASSWORD }}"
#
#        - name: Sign and push the manifest "${{ needs.init.outputs.imagename }}:${{ needs.init.outputs.version_major_minor }}"
#          uses: sudo-bot/action-docker-sign@latest
#          with:
#            image-ref: "${{ needs.init.outputs.imagename }}:${{ needs.init.outputs.version_major_minor }}"
#            private-key-id: "${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_ID }}"
#            private-key: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY }}
#            private-key-passphrase: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_PASSPHRASE }}
#            sign-manifest: true
#            notary-auth: "${{ secrets.DOCKERHUB_USERNAME }}:${{ secrets.DOCKERHUB_PASSWORD }}"
#
#        - name: Sign and push the manifest "${{ needs.init.outputs.imagename }}:${{ needs.init.outputs.version_major }}"
#          uses: sudo-bot/action-docker-sign@latest
#          with:
#            image-ref: "${{ needs.init.outputs.imagename }}:${{ needs.init.outputs.version_major }}"
#            private-key-id: "${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_ID }}"
#            private-key: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY }}
#            private-key-passphrase: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_PASSPHRASE }}
#            sign-manifest: true
#            notary-auth: "${{ secrets.DOCKERHUB_USERNAME }}:${{ secrets.DOCKERHUB_PASSWORD }}"
#
#        - name: Sign and push the manifest "${{ needs.init.outputs.imagename }}:latest"
#          if: github.event_name != 'pull_request'
#          uses: sudo-bot/action-docker-sign@latest
#          with:
#            image-ref: "${{ needs.init.outputs.imagename }}:latest"
#            private-key-id: "${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_ID }}"
#            private-key: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY }}
#            private-key-passphrase: ${{ secrets.DOCKER_REPOSITORY_PRIVATE_KEY_PASSPHRASE }}
#            sign-manifest: true
#            notary-auth: "${{ secrets.DOCKERHUB_USERNAME }}:${{ secrets.DOCKERHUB_PASSWORD }}"

      - name: Cosign
        run: |
          echo "${COSIGN_KEY}" > /tmp/cosign.key
          cosign sign --key /tmp/cosign.key ${TAGS}
          syft "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }}" -o cyclonedx-json > syft.json
          grype "${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }}" -o cyclonedx > grype.json
          cosign attest --predicate syft.json --key /tmp/cosign.key ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }}
          cosign attest --predicate grype.json --key /tmp/cosign.key ${{ needs.init.outputs.docker-image-name }}:${{ needs.init.outputs.version-patch }}
        env:
          TAGS: ${{ needs.init.outputs.docker-image-tags }}
          COSIGN_KEY: ${{ secrets.COSIGN_KEY }}
          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}

  cleanup:

    runs-on: ubuntu-20.04
    needs: [cosign,sign]
    steps:
      - uses: joutvhu/delete-artifact@v1
        with:
          name: |
            myimage
